spring:
  application:
    name: clinic-management-system
  datasource:
    url: jdbc:mysql://localhost:3306/clinic_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

app:
  jwt:
    secret: ${JWT_SECRET:clinicmanagementsystemsecretkeyclinicmanagementsystem}
    expiration-ms: 86400000

server:
  port: 8080
